*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-image: url(images/university-of-sydney.webp);
	background-repeat: no-repeat;
	background-size: contain;
}

.nav{
	height: 80px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	font-size: 24px;
	padding-left: 100px;
	color: white;
}

.nav-btn{
	padding-right: 100px;
}

.nav-btn>ul{
	gap: 30px;
	display: flex;
	list-style: none;
}

.nav-btn>ul>li>a{
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.hero-card{ 
	margin: 23vh auto ;
	padding: 10px;
	width: 50vw; 
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
	height: 300px; 
	border-radius: 10px; 
	backdrop-filter: blur(14px); 
	background-color: rgba(255, 255, 255, 0.2); 
	text-align: center; 
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
} 

.hero-card>h1{
	font-size: 50px;
}

.hero-card>h3{
	width: 500px;
	font-size: 15px;
	font-weight: 100;
}

.hero-card>button{
	width: 150px;
	height: 50px;
	font-size: 15px;
	font-weight: 400;
	background-color: transparent;
	color: white;
	border: solid 2px white;
}

.offer{
	padding: 100px;
	text-align: center;
	background-color: white;
}

.offer-text>p{
	margin-top: 10px;
	font-size: 12px;

}

.offer-card{
	margin: 100px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.oc{
	height: fit-content;
	width: 300px;
	padding: 50px 30px;
	background-color: lightpink;
}

.oc>p{
	padding-top: 50px;
	font-size: 14px;
	line-height: 20px;
}

.campus{
	padding: 0 100px;
	text-align: center;
}

.campus-text>p{
	margin-top: 10px;
	font-size: 12px;
}

.campus-card{
	margin: 100px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cc{
	height: 300px;
	width: 400px;
}

.cc1{
	background-image: url(images/architecture-of-a-modern-building.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.cc2{
	background-image: url(images/360_F_238456158_p3m4uGTf05W4d78wORQdbeUo9jkTEcEt.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.cc3{
	background-image: url(images/360_F_71742923_SxOK3IzhX1Vv09O70REwisyWnNFfJZMb.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.facility{
	padding: 0 100px;
	text-align: center;
}

.fac-text{
	margin-top: 10px;
	font-size: 12px;
}

.fac-card{
	margin: 100px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}